<h3>Satellite Counts:</h3>
<div class="counts">
    <div>Total: <span>{{countOfSatellite(satellites)}}</span></div>
    <div>Total Space Debris: <span>{{countByType('Space Debris')}}</span></div>
    <div>Total Communication: <span>{{countByType('Communication')}}</span></div>
    <div>Total Probe: <span>{{countByType('Probe')}}</span></div>
    <div>Total Positioning: <span>{{countByType('Positioning')}}</span></div>
    <div>Total Space Station: <span>{{countByType('Space Station')}}</span></div>
    <div>Total Telescope: <span>{{countByType('Telescope')}}</span></div>
</div>