<h3>Orbit Report</h3>
<table>
    <tr class="header-row">
        <th class="sortable" (click)="sort('name')">Name</th>
        <th class="sortable" (click)="sort('type')">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <!-- TODO: put <tr *ngFor=""></tr> here -->
    <tr *ngFor="let table of satellites">
        <td>{{table.name}}</td>
        <td [class.warning]="table.shouldShowWarning()">{{table.type}} </td>
        <!-- <td>{{table.type}}</td> -->
        <td>{{table.operational}}</td>
        <td>{{table.orbitType}}</td>
        <td>{{table.launchDate}}</td>
    </tr>

</table>